<div class="admin-panel">
  <div class="active-nodes">
    <h2>Активные экземпляры машин-детекции</h2>
    <table>
      <tbody>
      <tr>
        <th>Имя машины</th>
        <th>Статус</th>
        <th>Действие</th>
      </tr>
      <ng-container *ngFor="let node of nodes">
        <tr>
          <th>{{node.node_ulr}}</th>
          <th>{{node.status? 'Доступна(Работает)' : 'Недоступна'}}</th>
          <th><a routerLink="/admin">{{node.status? 'Отключить' : 'Включить'}}</a></th>
        </tr>
      </ng-container>
      </tbody>
      <!-- Здесь будет вывод активных нод в таблице -->
    </table>
    <div class="loader-container" *ngIf="loading_node">
      <div class="loader"></div>
    </div>
  </div>
  <div class="upload-form">
    <h2>Обновить модель на машинах-детекции</h2>
    <h4>Загрузите файл модели YOLOv8 для установки на машины детекции. Обновление модели произойдет в режиме реального времени без простоя оборудования.</h4>
    <div>
      <input style="display: none" formControlName="imageUpload" type="file" accept=".pt"  (change)="onFileSelected($event)" #file>
      <button class="button"  (click)="file.click()" >Загрузить модель</button>
    </div>
  </div>
  <div class="node-configuration">
    <h2>Создание новой машины-детекции</h2>
    <!-- HTML шаблон -->
    <div class="docker-container">
      <form [formGroup]="myForm" novalidate>
      <h4>Вы можете создать новую машину детекции или добавить существующую. Новый экземпляр начнет получать задание на детекцию согласно очереди распределения</h4>
        <div>
        <label for="machine-exists">Существует машина:</label>
        <select formControlName = 'existNode' value="no" id="machine-exists">
          <option value="yes">Да</option>
          <option value="no">Нет</option>
        </select>
    </div>

        <div *ngIf="myForm.get('existNode') && myForm.get('existNode')?.value == 'yes'">
          <label for="performance-profile">Введите url:</label>
          <input placeholder="https://example.re:6789" formControlName = 'NodeName' id="node-name"  type="text">
        </div>
        <div *ngIf="myForm.get('existNode')?.value == 'no'">
          <label for="performance-profile">Профиль производительности:</label>
          <select formControlName = 'NodeName' id="performance-profile">
            <option value="low">Слабый (1-2 детекция/секунду)</option>
            <option value="medium">Средний (6 детекций/секунду)</option>
            <option value="high">Мощьный (более 20 детекций/секунду)</option>
          </select>
        </div>
        <div>
          <button (click)="AddServer()">{{myForm.get('existNode')?.value != 'yes' ? 'Создать' : 'Добавить'}} машину-детекции</button>
        </div>
      </form>
    </div>
  </div>
</div>
