
.important-info {
  background-color: #f8e9d6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.important-info h2 {
  color: #6d4c41;
}

.important-info p {
  color: #6d4c41;
}
