<header>
  <nav class="navbar">
    <ul class="nav-menu">
      <li class="nav-item"><a routerLink="/admin">Администрирование</a></li>
      <li class="nav-item"><a routerLink="/statistics">Статистика</a></li>
      <li class="nav-item"><a routerLink="/verification">Проверка</a></li>
      <li class="nav-item"><a routerLink="/about">О программе</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>


<div style="min-height: 1000px"></div>

<footer>
  <div class="footer-content">
    <p>&copy; 2023 Uni Project Arkestrator: Все права защищены.</p>
  </div>
</footer>
