<table style="margin: 5px" class="statistics-table">
  <thead>
  <tr>
    <th>Уникальный номер дефекта</th>
    <th>Номер трубы</th>
    <th>Дата и время</th>
    <th>Координаты</th>
    <th>Класс дефекта</th>
    <th>Решение системы</th>
    <th>Фото</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>12345</td>
    <td>2022-01-01 10:00</td>
    <td>749.5283294880319</td>
    <td>потертость</td>
    <td>брак</td>
    <td><a href="#">Ссылка на фото</a></td>
  </tr>
  <tr>
    <td>2</td>
    <td>54321</td>
    <td>2022-01-02 14:30</td>
    <td>625.123456789</td>
    <td>черная точка</td>
    <td>брак</td>
    <td><a href="#">Ссылка на фото</a></td>
  </tr>
  <tr>
    <td>3</td>
    <td>98765</td>
    <td>2022-01-03 09:15</td>
    <td>812.345678912</td>
    <td>плена</td>
    <td>не брак</td>
    <td><a href="#">Ссылка на фото</a></td>
  </tr>
  <tr>
    <td>4</td>
    <td>24680</td>
    <td>2022-01-04 16:45</td>
    <td>932.187654321</td>
    <td>маркер</td>
    <td>брак</td>
    <td><a href="#">Ссылка на фото</a></td>
  </tr>
  <tr>
    <td>5</td>
    <td>13579</td>
    <td>2022-01-05 11:30</td>
    <td>512.876543219</td>
    <td>грязь</td>
    <td>не брак</td>
    <td><a href="#">Ссылка на фото</a></td>
  </tr>
  <tr>
    <td>6</td>
    <td>86420</td>
    <td>2022-01-06 13:20</td>
    <td>725.987654321</td>
    <td>накол</td>
    <td>брак</td>
    <td><a href="#">Ссылка на фото</a></td>
  </tr>
  <tr>
    <td>7</td>
    <td>97531</td>
    <td>2022-01-07 08:45</td>
    <td>623.456789123</td>
    <td>н.д. накол</td>
    <td>не брак</td>
    <td><a href="#">Ссылка на фото</a></td>
  </tr>
  <tr>
    <td>8</td>
    <td>12345</td>
    <td>2022-01-08 17:00</td>
    <td>749.5283294880319</td>
    <td>микровыступ</td>
    <td>брак</td>
    <td><a href="#">Ссылка на фото</a></td>
  </tr>
  </tbody>
</table>
